.blog__categ{
    background-color: #e9f9f2;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
    color: #198754;
    font-size: 12px;
    border-radius: 50px;
   
    top: 8rem;
    border: 1px solid #198754;
}